.topic-photos-wrapper {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
}

.loading {
    display: flex;
    justify-content: center;
    background-color: rgba(224, 157, 18, 0.85);
    color: white;
    font-size: 2rem;

}

.overlay {
    display: flex;
        /*background-color: rgba(0, 0, 0, 0.2);*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 1800px;
    background-color: rgba(38, 72, 208, 0.73);;
}

.topic-content {
    margin-top: 50px;
    max-width: 75%;
}

.topic-text {

    color: white;
    font-size: 2rem;
    margin: 20px;
}


.topic-photos img {

    border: solid 20px #000;
    margin: 20px;
}



.overlay h1, .overlay p {

    font-size: 2rem;
    margin: 20px;



}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    margin-top: 50px;
    gap:10px;
    grid-auto-rows: 320px;

    /*justify-items: center;*/
    /*align-items: center;*/
    /*grid-template-areas:*/
    /*"portrait landscape landscape portrait"*/
    /*"portrait landscape landscape portrait"*/
    /*"portrait . . portrait";*/

    padding: 20px;
    background-color: rgba(33, 53, 71, 0.6);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);

}

.photo-grid-items {
    margin-top: 20px;
}

.double-width {
    grid-column: span 2;
    grid-row: span 1;
}

.double-width img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.double-height {
    grid-row: span 1;
    grid-column: span 1;
}

.double-height img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
        grid-auto-rows: 400px;
    }
}



/*.photo-grid img {*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*}*/


/*.photo-grid .portrait {*/
/*    grid-row: span 2;*/
/*    grid-area: portrait;*/
/*}*/

/*.photo-grid .landscape {*/
/*    grid-column: span 2;*/
/*    grid-area: landscape;*/
/*}*/



.grid-wrapper {
    padding: 10px;
    margin-top: 20px;
}

.photo-container {
    position: relative;
    padding-top: 25px;
}

.photo-container img {
    width: 100%;
    max-height: 600px;
    /*object-fit: cover;*/
    border-radius: 10px;
    gap: 10px;
}


.photo-container .pinButtonContainer button {
    position: absolute;
    right: 20px;
    top: 60px;
    transform: translateY(-50%);
    background: transparent;
    opacity: 1;
    color: sandybrown;
}