.flex-container {
    background-color: #646cff;
    display: flex;
    flex-direction: row;
    height: 75px;
    z-index: 1;

}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;

    z-index: 2;
    flex-basis: 1800px;
}

nav {
        flex-basis: 1800px;
         height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    margin-left: 20px;


}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;

}


li {
    /*flex-basis: 125px;*/
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 8px;*/

    background-color: rgba(38, 72, 208, 0);
    /*border-radius: 10px;*/
    transition: all 0.3s ease;
    /*box-shadow: #1a1a1a 0px 0px 10px;*/

    transform: skewX(-20deg);


}
/* screen size small */

@media (max-width: 768px) {
    li {
        flex-basis: 60px;
        text-align: center;
        list-style: none;
        font-size: 0.9rem;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
        background-color: rgba(38, 72, 208, 0.73);
        border-radius: 10px;
        transition: all 0.3s ease;
        box-shadow: #1a1a1a 0px 0px 10px;

        transform: skewX(-20deg);

    }

    ul {
        gap: 15px;

    }
}




li:hover {
    background-color: rgba(61, 4, 168, 0.9);
    transform: skewX(0deg);
    box-shadow: #1a1a1a 0px 0px 20px;
    transition: all 0.3s ease;
    padding: 20px;
}

li:active {

    background-color: rgba(38, 72, 208, 0.5);
}

.active-link {
    color: white;
    background-color: rgba(38, 72, 208, 0.5);
    padding: 20px;

}

a {
    color: sandybrown;
}

a:hover {
    color: rgba(243, 68, 15, 0.9);
}

.login-button {
    margin-right: 20px;

    }
