.outer-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.content-wrapper {
    width: 80%;
}



.search-icon {
    color: g;
    height: 100px;
}

.detective-icon {
    color: sandybrown;
    margin-left:20px;
    position: relative;
    left: 10px;
    height: 100px;
    ;
}

svg {
    margin: auto;
}

.my-link {
    color: sandybrown;
    font-size: 3rem;
}

#root {
    height: 100vh;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;


}